<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="johnschroeders.marketfree">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewPostedProductsActivity"

            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="373985215969-rqo2s5144lhu0a1i7j2bsi5h8j6ulima.apps.googleusercontent.com" />

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageOrderStatusActivity"
            android:label="@string/title_activity_manage_order_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManagePublishingActivity"
            android:label="@string/title_activity_manage_publishing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageProfileActivity"
            android:label="@string/title_activity_manage_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageSubsciptionsActivity"
            android:label="@string/title_activity_manage_subsciptions"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserMainPageManagePersonalsActivity"
            android:label="@string/title_activity_user_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserLoginActivity" />
    </application>

</manifest>